<IfModule mod_rewrite.c>    
Options +FollowSymLinks   
RewriteEngine on
##RewriteBase /webapp/


##RewriteRule ^profile-([a-zA-Z0-9_-]+).html$ profile.php?action=$2
RewriteRule ^edit-user-([0-9]+)\.html$ edit-user.php?user=$1
RewriteRule ^edit-unit-([0-9]+)\.html$ edit-unit.php?unit=$1
##
##viet lai URL cho cac file .php
##
RewriteRule ^login  login.php [L]
RewriteRule ^register  register.php [L]
RewriteRule ^forgotpassword  forgotpassword.php [L]
RewriteRule ^user-new  add-user.php [L]
RewriteRule ^user-list  list-user.php [L]
RewriteRule ^unit-new  add-unit.php [L]
RewriteRule ^unit-list  list-unit.php [L]
RewriteRule ^unit/?([^/]*)/?  list-unit.php?id=$1


##Error
ErrorDocument 404 /404.html
</IfModule>



